In [1]:
j = "python"

In [4]:
type(j)

str

In [5]:
l = [2,4,5,"summer",4.4,2+4j,True]

In [6]:
type(l)

list

In [7]:
a = 5.5

In [8]:
type(a)

float

In [9]:
mytuple = ("apple","banana","cherry")

In [10]:
type(mytuple)

tuple

In [11]:
var1 = '' #string datatype

In [16]:
var2 = '[DS,ML,PYTHON]'    # string datatype

In [17]:
var3 = ['DS','ML','PYTHON']
                                  # list datatype

In [20]:
var4 = 1.    # float datatype

In [24]:
 a=4    # devision operator 
b=2
a/b

2.0

In [27]:
a = 3     # modulous operator  return remainder
b =2
a%b

1

In [29]:
15//2   #floor operator

7

In [1]:
2**3      # power operator

8

In [5]:
l = [2,3,4,5,6,2.2,"code","run",4+5j,True]
for i in l:
    print(type(i))
    print(i)

<class 'int'>
2
<class 'int'>
3
<class 'int'>
4
<class 'int'>
5
<class 'int'>
6
<class 'float'>
2.2
<class 'str'>
code
<class 'str'>
run
<class 'complex'>
(4+5j)
<class 'bool'>
True

In [23]:
l = [22,34,5,6,4,3,21,27,9,6,10,30,40,66,33,34,66,63,3,4,32, 343,300,27,30]
for i in l:
    if i%3 == 0:
        print(i ,"divisible by 3")
    else:
        print(i, " not divisible by 3")

22  not divisible by 3
34  not divisible by 3
5  not divisible by 3
6 divisible by 3
4  not divisible by 3
3 divisible by 3
21 divisible by 3
27 divisible by 3
9 divisible by 3
6 divisible by 3
10  not divisible by 3
30 divisible by 3
40  not divisible by 3
66 divisible by 3
33 divisible by 3
34  not divisible by 3
66 divisible by 3
63 divisible by 3
3 divisible by 3
4  not divisible by 3
32  not divisible by 3
343  not divisible by 3
300 divisible by 3
27 divisible by 3
30 divisible by 3

In [25]:
# mutable data type whose data can be change .

list = [3,5,6.6,4+5j,True,"python"]
print(list)
list[1] = 100
print(list)

[3, 5, 6.6, (4+5j), True, 'python']
[3, 100, 6.6, (4+5j), True, 'python']

In [27]:
# immutable datatype whose data cannot be changed.
s = "juhi"
print(s)
s[1]=k # not changed
print(s)

juhi

NameError: name 'k' is not defined

In [ ]:
start = int(input("Enter start"))
end = int(input("Enter end"))
while (start <=end :
    if start%5 == 0:
        print(start)
        start = start+1

Enter start 1
Enter end 5