In [ ]:
# what is database ? differetiate between SQL and NOSQL databases.
'''
A database is a organized collection of structured information , or data , typically stored electronically in a computer system.
A database is usually controlled by database management system.
1. SQL called relational database management system and NOSQL called non- relational or distributed database management system.
2. SQL has fixed or static schema and NOSQL has dynamic  schema.
3. SQL suited not suited for hierarichal data storage and NOSQL suited for hieraricahl data storage.
4. SQL example MySQL , MS-SQL and oracle while NOSQL emaple MongoDB, HBase, Neo4j and cassandra.
'''

In [ ]:
# what is DDL? explain why CREATE , DROP , ALTER and TRUNCATE are used with an example.
'''
data definition language actually consist of SQL command that can be used to define database schema. it generally deals with 
description of database schema and is used to create and modify the structure of database object in database. DDL is a set of SQL
command used to create , modify and delete database.
1. CREATE - used to create database and its object like table, index, function, views and triggers.
example CREATE table test_table;
2. DROP - used to delete object from database.
drop test_table;
3. ALTER - used to alter structure of database.
ALTER TABLE test_table
ADD Email varchar(255)
4. TRUNCATE - used to remove all records from a table, including all spaces allocated for the records are removed.
TRUNCATE TABLE test_tabel;
'''

In [1]:
# what is DML? explain INSERT, UPDATE and DELETE with an example.
'''
Data Manipualtion Language - SQL command used for manipulation of data in database.
INSERT - used to insert data in database
INSERT into test_table values(c1 INT, c2 VARCHAR(50))
UPDATE - used to update data into database
UPDATE test_table
SET name = "juhi"
where id = 2
DELETE - used to delete element from table 
DELETE FROM test_table
WHERE id = 2
'''

In [ ]:
# what is DQL ? expalin SELECT with an example.
'''
Data Query Language - used for performing queries on data within schema object.  the purpose of DQL command is to get 
some schema relation based on query passed to it.

SELECT - used to retrieve data from database.
SELECT * FROM test_table
'''

In [ ]:
# explain primary key and foreign key.
'''
primary key is unique and not null , it generally focus on uniqueness of table.it assure value in specific column is unique.
foreign key is generally used to build relationship between two table.
'''

In [ ]:
# write a python code to connet mysql to python. explain cursor() and execute() command.
'''
import mySQL.connector
mydb = mySQL.connector.connect(
hosts = "localhost",
user = "abc",
password = "password"
)
print(mydb)
myCursor = mydb.cursor()
myCursor.execute("SHOW DATABASES")
for x in myCursor:
print(x)


cursor() - it is used to point database and its object. it is an object used to make connection for executing SQL queries.
execute () it is method used to execute mycursor element or data stored inside cursor.
'''

In [ ]:
# Give the order of execution of SQL clauses in an sql queries.
'''
order of execution defines oreder in which clauses of query are evaluated.
1.from 
2. where
3. group by
4. having
5. select
6. order by
7.limit
'''