In [1]:
Consider following code to answer further questions:
import pandas as pd
course_name = [‘Data Science’, ‘Machine Learning’, ‘Big Data’, ‘Data Engineer’]
duration = [2,3,6,4]
df = pd.DataFrame(data = {‘course_name’ : course_name, ‘duration’ : duration})

SyntaxError: invalid character '‘' (U+2018) (3422267560.py, line 3)

In [2]:
# Write a code to print the data present in the second row of the dataframe, df.

import pandas as pd
course_name = ['Data Science', 'Machine Learning', 'Big Data', 'Data Engineer']
duration = [2,3,6,4]
df = pd.DataFrame(data  ={'course_name' : course_name, 'duration' : duration})
print(df)
print()

df['duration']

        course_name  duration
0      Data Science         2
1  Machine Learning         3
2          Big Data         6
3     Data Engineer         4

0    2
1    3
2    6
3    4
Name: duration, dtype: int64

In [3]:
# What is the difference between the functions loc and iloc in pandas.DataFrame?
'''
loc stand for "location" it is label based indexing.it is used to access group of rows and column by label.'''

df.loc[1:2,'duration']

''' iloc stand for "integer location" and it is integer based indexing. it is used to access group of rows and columns by 
integer position.'''

df.iloc[0:3,[0,1]]

        course_name  duration
0      Data Science         2
1  Machine Learning         3
2          Big Data         6

In [4]:
#Reindex the given dataframe using a variable, reindex = [3,0,1,2] and store it in the variable, new_df
#then find the output for both new_df.loc[2] and new_df.iloc[2].

new_df = pd.DataFrame(df,index=[3,0,1,2])
print(new_df)
print()

print(new_df.loc[2]) # it include both start and end index in slicing
print()
print(new_df.iloc[2]) # it include start index but exclude end index in slicing

        course_name  duration
3     Data Engineer         4
0      Data Science         2
1  Machine Learning         3
2          Big Data         6

course_name    Big Data
duration              6
Name: 2, dtype: object

course_name    Machine Learning
duration                      3
Name: 1, dtype: object

In [5]:
#Consider the below code to answer further questions:
import pandas as pd
import numpy as np
columns = ['column_1', 'column_2', 'column_3', 'column_4', 'column_5', 'column_6']
indices = [1,2,3,4,5,6]
#Creating a dataframe:
df1 = pd.DataFrame(np.random.rand(6,6), columns = columns, index = indices)

In [9]:
'''Q4. Write a code to find the following statistical measurements for the above dataframe df1:
(i) mean of each and every column present in the dataframe.
(ii) standard deviation of column, ‘column_2’
'''

print(df1.mean())
print(df1)

df1['column_2'].std()

column_1    0.368088
column_2    0.635312
column_3    0.158112
column_4    0.694191
column_5    0.309934
column_6    0.342716
dtype: float64
   column_1  column_2  column_3  column_4  column_5  column_6
1  0.383043  0.943968  0.175986  0.646799  0.489784  0.433683
2  0.746769  0.393452  0.171039  0.833560  0.294551  0.120754
3  0.562706  0.963263  0.141810  0.819669  0.135505  0.868588
4  0.296360  0.693063  0.244460  0.523132  0.012700  0.125545
5  0.074987  0.243865  0.194086  0.378449  0.608349  0.030775
6  0.144664  0.574258  0.021295  0.963535  0.318713  0.476953

0.2903827744133442

In [10]:
# What do you understand about the windows function in pandas and list the types of windows functions?
'''
In pandas, window functions are operations that allow you to perform calculations over a specified window of rows in a 
DataFrame. These functionsare particularly useful for tasks that involve computing rolling statistics, moving averages,
cumulative sums, and other .
Rolling windows operate over a fixed-size "window" of consecutive rows.
They are created using the .rolling(window_size) method on a Series or DataFrame.
Some common aggregation functions that you can use rolling windows include:

.sum()
.mean()
.median()
.min()
.max()
.std()
.var()
.count()'''

'\nIn pandas, window functions are operations that allow you to perform calculations over a specified window of rows in a \nDataFrame. These functionsare particularly useful for tasks that involve computing rolling statistics, moving averages,\ncumulative sums, and other .\nRolling windows operate over a fixed-size "window" of consecutive rows.\nThey are created using the .rolling(window_size) method on a Series or DataFrame.\nSome common aggregation functions that you can use rolling windows include:\n\n.sum()\n.mean()\n.median()\n.min()\n.max()\n.std()\n.var()\n.count()'

In [11]:
# Write a code to print only the current month and year at the time of answering this question.

from datetime import datetime


current_date = datetime.now()


current_month = current_date.month
current_year = current_date.year


print(f"Current Month: {current_month}")
print(f"Current Year: {current_year}")

Current Month: 8
Current Year: 2023

In [12]:
'''Write a Python program that takes in two dates as input (in the format YYYY-MM-DD) and
calculates the difference between them in days, hours, and minutes using Pandas time delta. The
program should prompt the user to enter the dates and display the result.'''

import pandas as pd


date1_str = input("Enter the first date (YYYY-MM-DD): ")
date2_str = input("Enter the second date (YYYY-MM-DD): ")

date1 = pd.to_datetime(date1_str)
date2 = pd.to_datetime(date2_str)


time_difference = date2 - date1

days = time_difference.days
hours = time_difference.seconds // 3600
minutes = (time_difference.seconds // 60) % 60


print(f"Time difference: {days} days, {hours} hours, {minutes} minutes")

Enter the first date (YYYY-MM-DD):  2023-01-31
Enter the second date (YYYY-MM-DD):  2023-08-04

Time difference: 185 days, 0 hours, 0 minutes